<div class="container-fluid auth-bg p-0 overflow-hidden">
    <div class="row min-vh-100 g-0 m-0">
        <!-- Left column: Form -->
        <div class="col-md-8 col-sm-8 d-flex flex-column justify-content-center align-items-center">
            <h1 *ngIf="!isEmailVerified" class="mb-4 fw-bold clr-txt">Forgot Password</h1>

            <form *ngIf="!isEmailVerified" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" class="col-sm-5 col-12">
                <!-- Email -->
                <div class="mb-4 position-relative col-12">
                    <input type="email" class="form-control wf-input" id="email" placeholder="Email" formControlName="email" [ngClass]="{
                              'is-invalid': email?.invalid && (email?.dirty || email?.touched)
                            }" />
                    <span class="text-danger position-absolute required-star">*</span>
                </div>

                <button type="submit" class="wf-btn">Send Reset Link</button>

                <div class="d-flex justify-content-center mt-3">
                    <a class="login-link clr-txt fw-medium" (click)="goToLogin()">
                        <i class="bi bi-arrow-left me-1"></i>Back to Login
                    </a>
                </div>
            </form>

            <h1 *ngIf="isEmailVerified" class="mb-4 fw-bold clr-txt">Reset New Password</h1>
            <form *ngIf="isEmailVerified" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" class="col-sm-5 col-12">
                <!-- newPassword -->
                <div class="mb-4 position-relative col-12">
                    <input [type]="showPassword ? 'password' : 'text'" placeholder="New Password" class="form-control wf-input pe-5"
                        id="newPassword" formControlName="newPassword" [ngClass]="{
                              'is-invalid':
                                newPassword?.invalid && (newPassword?.dirty || newPassword?.touched)
                            }" />
                
                    <!-- Eye Button -->
                    <button type="button" class="btn btn-link eye-btn" (click)="togglePassword()">
                        <i class="bi" [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'"></i>
                    </button>
                
                    <span class="text-danger position-absolute required-star">*</span>
                </div>
                <!-- confirmPassword -->
                <div class="mb-2 position-relative">
                    <input [type]="showPassword ? 'password' : 'text'" placeholder="Confirm Password" class="form-control wf-input pe-5"
                        id="confirmPassword" formControlName="confirmPassword" [ngClass]="{
                                              'is-invalid':
                                                confirmPassword?.invalid && (confirmPassword?.value !== resetPasswordForm.get('newPassword')?.value)
                                            }" />
                
                    <!-- Eye Button -->
                    <button type="button" class="btn btn-link eye-btn" (click)="togglePassword()">
                        <i class="bi" [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'"></i>
                    </button>
                
                    <span class="text-danger position-absolute required-star">*</span>
                    <!-- Error message -->
                    <div *ngIf="confirmPassword?.touched && confirmPassword?.value !== resetPasswordForm.get('newPassword')?.value"
                        class="text-danger mt-1">
                        Passwords do not match
                    </div>
                </div>

                <button type="submit" class="wf-btn mt-4">Submit</button>
            </form>
        </div>
        <div class="col-md-4 col-sm-4 col-12 d-flex align-items-end p-0 mt-3 mt-md-0">
            <img src="/background/side-img.png" alt="Side Image" class="img-fluid w-100" style="min-height: 250px" />
        </div>
    </div>
</div>