<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-12">
      <h4>Post a Job</h4>
    </div>
  </div>

  <div class="card mt-3">
    <div class="card-body">
      <h3 class="card-title text-center text-primary fw-bold">Post a Job</h3>

      <form [formGroup]="jobSubmissionForm" (ngSubmit)="onSubmit()">
        <!-- Row for form + placeholder -->
        <div class="row mt-4">
          <!-- Form column -->
          <div class="col-md-6">
            <div class="mb-3">
              <input
                type="text"
                class="form-control wf-input"
                id="jobTitle"
                placeholder="Job Title"
                formControlName="jobTitle"
              />
            </div>
            <div class="mb-3">
              <div class="wf-select-wrap">
                <select
                  class="wf-select"
                  aria-label="company"
                  formControlName="company"
                >
                  <option [value]="companyName" disabled>
                    {{ companyName }}
                  </option>
                </select>
                <span class="wf-chev" aria-hidden="true">▾</span>
              </div>
            </div>
            <div class="mb-3">
              <div class="wf-select-wrap">
                <select
                  class="wf-select"
                  aria-label="Industry"
                  formControlName="industryId"
                >
                  <option [value]="null" disabled selected>Industry</option>
                  <option
                    *ngFor="let industry of industries"
                    [value]="industry.industryId"
                  >
                    {{ industry.industryName }}
                  </option>
                </select>
                <span class="wf-chev" aria-hidden="true">▾</span>
              </div>
            </div>

            <div class="mb-3">
              <div class="wf-select-wrap">
                <select
                  class="wf-select"
                  aria-label="Country"
                  formControlName="country"
                >
                  <option [value]="null" disabled selected>Country</option>
                  <option
                    *ngFor="let country of countries"
                    [value]="country.countryName"
                  >
                    {{ country.countryName }}
                  </option>
                </select>
                <span class="wf-chev" aria-hidden="true">▾</span>
              </div>
            </div>

            <div class="mb-3">
              <input
                type="text"
                class="form-control wf-input"
                id="city"
                placeholder="City"
                formControlName="city"
              />
            </div>

            <div class="row">
              <div class="col-md-6 mb-3">
                <div class="wf-select-wrap">
                  <select
                    class="wf-select"
                    aria-label="JobType"
                    formControlName="jobType"
                  >
                    <option [value]="null" disabled selected>Job Type</option>
                    <option *ngFor="let job of jobTypes">{{ job }}</option>
                  </select>
                  <span class="wf-chev" aria-hidden="true">▾</span>
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <!-- <input
                  type="date"
                  class="form-control wf-input"
                  id="expiryDate"
                  formControlName="expiryDate"
                /> -->
                <div class="custom-date-wrapper">
                  <input
                    #expiryDate
                    type="text"
                    class="form-control wf-input customdatepicker"
                    formControlName="expiryDate"
                  />
                  <span
                    class="placeholder-text"
                    [class.hidden]="expiryDate.value"
                    (click)="focusInput()"
                    *ngIf="!dateFocused"
                  >
                    Expiry Date
                  </span>
                  <span class="calendar-icon" (click)="focusInput()">
                    <mat-icon>calendar_today</mat-icon>
                  </span>
                </div>
              </div>
            </div>
          </div>

          <!-- Placeholder column (Description) -->
          <div class="col-md-6">
            <div class="position-relative col-12 mb-2">
              <!-- Selected Skills -->
              <!-- Inline Input -->
              <input
                type="text"
                class="form-control wf-input"
                placeholder="Add a skill"
                (input)="onSkillInput($event)"
                (keydown)="onSkillEnter($event, skillInput)"
                #skillInput
                style="outline: none"
                [ngClass]="{
                  'is-invalid':
                    skills?.invalid && (skills?.dirty || skills?.touched)
                }"
              />
              <!-- <span class="text-danger position-absolute required-star">*</span> -->

              <!-- Selected Skills BELOW field -->
              <div class="d-flex flex-wrap gap-2 mt-2 mb-1">
                <span
                  *ngFor="let skill of skills?.value; let i = index"
                  class="badge bg-primary"
                >
                  {{ skill.skillName }}
                  <button
                    type="button"
                    class="btn-close btn-close-white ms-1"
                    (click)="removeSkill(i)"
                  ></button>
                </span>
              </div>

              <!-- Dropdown -->
              <ul
                *ngIf="skillsList.length > 0"
                class="list-group position-absolute w-100"
                style="z-index: 1000"
              >
                <li
                  *ngFor="let item of skillsList"
                  class="list-group-item list-group-item-action"
                  (click)="selectSkill(item, skillInput)"
                >
                  {{ item.skillName }}
                </li>
              </ul>
            </div>
            <div
              class="h-100 d-flex wf-input"
              style="border-radius: 6px; height: 360px !important"
            >
              <textarea
                class="form-control px-2 py-2 tarea"
                placeholder="Description"
                id="description"
                formControlName="description"
                rows="10"
                style="
                  resize: none;
                  width: 100%;
                  height: 100%;
                  border-radius: 6px;
                  border: none !important;
                  padding: 0 !important;
                "
              ></textarea>
            </div>
          </div>
        </div>
        <button type="submit" class="wf-btn">Post Job</button>
      </form>
    </div>
  </div>
</div>
