<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <nav
        class="navbar navbar-light bg-light justify-content-between"
        style="height: 60px"
      >
        <a class="navbar-brand">WorkFinder</a>
        <div class="nav-right">
          <div
            class="notification-wrapper"
            (click)="toggleNotifications($event)"
          >
            <mat-icon>notifications</mat-icon>

            <span class="badge" *ngIf="unreadCount > 0">{{ unreadCount }}</span>
          </div>

          <!-- Notification dropdown -->
          <div
            class="notification-dropdown"
            *ngIf="showNotifications"
            (click)="$event.stopPropagation()"
          >
            <app-notification-pannel
              [notifications]="notifications"
            ></app-notification-pannel>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <div class="row">
    <!-- Sidebar -->
    <nav class="col-md-3 col-lg-2 d-md-block bg-sidebar-light sidebar vh-100">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item" *ngFor="let module of modules; let i = index">
            <a
              class="nav-link text-white"
              data-bs-toggle="collapse"
              [attr.href]="'#menu' + i"
              role="button"
              aria-expanded="true"
              [attr.aria-controls]="'menu' + i"
            >
              {{ module.parentModuleName }}
            </a>
            <div class="collapse show" [attr.id]="'menu' + i">
              <ul class="nav flex-column ms-3">
                <li
                  class="nav-item"
                  *ngFor="let submodule of module.subModules"
                >
                  <a
                    class="nav-link text-white"
                    [routerLink]="submodule.route"
                    routerLinkActive="active-submodule"
                    [routerLinkActiveOptions]="{ exact: true }"
                  >
                    {{ submodule.moduleName }}
                  </a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Main Content -->
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
