.active-submodule {
  background-color: #023465; /* Bootstrap blue */
  color: #fff !important;
  border-radius: 6px;
}
.bg-sidebar-light {
  background-color: #004a94;
}

.sidebar {
  width: 290px;
  transition: all 0.3s ease;
  overflow: hidden;
}

.sidebar.closed {
  width: 0;
  padding: 0;
  opacity: 0;
}

.nav-right {
  position: relative;
}

.notification-wrapper {
  position: relative;
  cursor: pointer;
  font-size: 1.3rem;
  margin-right: 20px;
}

.badge {
  position: absolute;
  top: -5px;
  right: -8px;
  background: red;
  color: white;
  font-size: 10px;
  padding: 2px 5px;
  border-radius: 50%;
}

.notification-dropdown {
  position: absolute;
  top: 35px; /* space below the icon */
  right: 0;
  width: 490px;
  max-height: 400px;
  overflow-y: auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  animation: slideDown 0.2s ease;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
