<div class="container-fluid auth-bg p-0 overflow-hidden">
  <div class="row min-vh-100 g-0 m-0">
    <!-- Left column: Form -->
    <div
      class="col-md-8 col-sm-8 d-flex flex-column justify-content-center align-items-center"
    >
      <h1 class="mb-4 fw-bold clr-txt">Work Finder</h1>

      <form
        [formGroup]="loginForm"
        (ngSubmit)="onSubmit()"
        class="col-sm-5 col-12"
      >
        <!-- Email -->
        <div class="mb-4 position-relative col-12">
          <input
            type="email"
            class="form-control wf-input"
            id="email"
            placeholder="Email"
            formControlName="email"
            [ngClass]="{
              'is-invalid': email?.invalid && (email?.dirty || email?.touched)
            }" />
          <span class="text-danger position-absolute required-star">*</span>
        </div>

        <!-- Password -->
        <div class="mb-2 position-relative">
          <input
            [type]="showPassword ? 'password' : 'text'"
            placeholder="Password"
            class="form-control wf-input pe-5"
            id="password"
            formControlName="password"
            [ngClass]="{
              'is-invalid':
                password?.invalid && (password?.dirty || password?.touched)
            }"
          />

          <!-- Eye Button -->
          <button
            type="button"
            class="btn btn-link eye-btn"
            (click)="togglePassword()"
          >
            <i
              class="bi"
              [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'"
            ></i>
          </button>

          <span class="text-danger position-absolute required-star">*</span>
        </div>

        <!-- Forgot Password Link -->
        <div class="d-flex justify-content-end mb-3">
          <a class="forgot-link clr-txt">Forgot Password?</a>
        </div>

        <button type="submit" class="wf-btn">Login</button>
      </form>
    </div>
    <div
      class="col-md-4 col-sm-4 col-12 d-flex align-items-end p-0 mt-3 mt-md-0"
    >
      <img
        src="/background/side-img.png"
        alt="Side Image"
        class="img-fluid w-100"
        style="min-height: 250px"
      />
    </div>
  </div>
</div>