<div
  #confirmationModal
  class="modal fade"
  id="confirmationModal"
  tabindex="-1"
  aria-labelledby="confirmationModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title" id="confirmationModalLabel">Confirmation</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
        ></button>
      </div>

      <div class="modal-body text-center">
        <p>Are you sure, you want to {{ action }} this job</p>
      </div>

      <div class="modal-footer justify-content-center">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="onCancel()"
        >
          No
        </button>
        <button type="button" class="btn btn-success" (click)="onConfirm()">
          Yes
        </button>
      </div>
    </div>
  </div>
</div>
